# SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

/skills/nemoclaw/** linguist-generated=true
/skills/nemoclaw/**/*.md diff=markdown

.tester/lfs/1785354706652-a4d728.bin filter=lfs diff=lfs merge=lfs -text
